body {
    margin: 0;
    background: #000;
    overflow: hidden;
  }
  #canvas-container {
    border: 2px solid red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
 